// README
// This is only a .env example
// Do not change this file, adding your GITHUB TOKEN here!
// Use cp or mv (like this: cp env.example .env), then edit .env with your GITHUB TOKEN.
// IMPORTANT: Don't forget to add to update your .gitignore with .env (to avoid making your key public!)
// Force push

GMAIL_ACCOUNT="YOUR GMAIL ACCOUNT"

// Get a token from google "App Passwords"
GMAIL_ACCOUNT_PWD="YOUR PASSWORD TOKEN"

// PostgreSQL database info
DB_NAME=""
DB_USER=""
DB_PASSWORD=""
DB_HOST=""
DB_PORT=