.header {
 background-color: #004ec1;
 color: #fff;
 padding: 0.5em;
}

.logo {
 font-size: 24px;
 font-weight: bold;
}

.empty-div{
 width: 100%;

}
.dropdown:hover .dropdown-menu {
 display: block;
 margin-top: 0; /* remove the gap so it doesn't close */
}
