html {
    box-sizing: border-box;
    font-family: 'Open Sans', 'sans-serif';
    background-color: #fff;
    color: #444;
}

@page {
    size: A4;
    margin: 1cm;
    font-size: 10px;
}

body{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

header {
    order: 1;
    display: flex;
    margin-bottom: 1em;
    height: 200px;
    width: 100%;

}
main {
    order: 1;
    display: flex;
    margin-bottom: 2rem;

    width: 100%;
    flex-wrap: wrap;
}
h3 {
    font-size: 13px;
    width: 80px;
    font-weight: normal;
}
.title {
    font-size: 24px !important;
    margin-bottom: 0.5em;
}
.break {
    flex-basis: 100%;
    height: 0;
}
.header-item + .header-item{
    margin-left: 2%;
}
.invoice-info {
    order:1;
    flex-grow: 1;
}
.invoice-info-detail {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.small-margins>*{
    margin-bottom: 0.1em;
    margin-top: 0.1em;
}
.left-margin, .left-margin>*{
    margin-left: 0.2em;
}
.logo {
    order:2;
    flex-grow: 1;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo>img {
    justify-content: center;
    height: 130px;
    width: 130px;
}
.company-data {
    order: 3;
    flex-grow: 1;

}
.company-data p {
    text-align: right;
}

.client-data{
    order: 4;
}
.item{
    width: 100%;
    display: flex;
    align-items: baseline;
}
.content-box {
    border: 3pt solid black;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    height: 65px;
    width: 100%;
}
table {
    border-collapse: collapse;
    width: 100%;
    border: 3pt solid black;
}
.container-table-products {
    margin-top: 2em;
    margin-bottom: 2em;
    order: 5;
    height: 545px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}
th:nth-child(1), td:nth-child(1){
    width: 350px;
}


th,td {
    border: 1px solid black;
    text-align: center;
    width: 80px;
}

.last-column{
    text-align: right;
    font-weight: bold;
}

tr {
    height: 23.5px;
}
.no-border, .no-border>th{
    border: 0;
}
.left-bold-border{
    border-left: 3pt solid black;
}
.top-bold-border{
    border-top: 3pt solid black;
}


.payment-data {
    order: 6;
}
.payment-info-detail {
    justify-content: center;
    margin-left: -2em;
}
.payment-info-detail>h3 {
    justify-content: center;
    width: 140px;
}
footer {
    display: flex;
    flex-wrap: wrap;
    order: 7;
    width: 100%;
    justify-content: center;
}
footer>p{
    margin-left: 1em;
}
