<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}
<html lang="en">
<head>
  <title>Invoices App</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{% static 'invoices/images/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'invoices/css/styles.css' %}">
  <style>
    /* Global styles */
    /* Header styles */
    .header {
      background-color: #222;
      color: #fff;
      padding: 20px;
    }

    .logo {
      font-size: 24px;
      font-weight: bold;
    }
  </style>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
  <header class="header">
    <div class="d-flex align-items-baseline">
      <div class="logo flex-grow-1 p-2">Invoices App</div>
      <div class="p-2">
        <nav class="navigation">
          {% if request.path != '/' %}
            <a class="p-4 link-primary" href="{% url 'index' %}">Home</a>
          {% endif %}
          <a class="btn btn-warning" role="button" href="{% url 'add_invoice' %}">➕</a> 
        </nav>
     </div>
  </div>
  </header>
<div class="container-fluid">
{% block main %}
  <!--Here the content of the page-->
{% endblock %}
</div>
</body>
</html>
