<!doctype html>
{% load bootstrap5 %} {% load static %}
<html lang="en">
  <head>
    <title>Invoices App</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'invoices/images/favicon.ico' %}"
    />

    {% block css %} {% bootstrap_css %} {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'invoices/css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'invoices/css/navbar.css' %}" />
    <!-- Additional CSS files specific to each template -->
    {% endblock %}
  </head>

  <body>
    <header>{% include 'invoices/navbar.html' %}</header>
    <main class="container-fluid">
    {% block main %}
    <!-- Here goes the content of the page -->
    {% endblock %}
    </main>
    {% block javascript %}
    <!-- Additional JavaScript files specific to each template -->
    {% endblock %}


  </body>
</html>
