{% extends 'invoices/base.html' %}
{% load tailwind_filters %}
{% block main %}
<form method="post" class="w-full max-w-2xl m-auto">
  {% csrf_token %}

  <h3 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl dark:text-white">Invoice  </h3>
  {{ invoice_form | crispy }}

  <!-- <h3 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl dark:text-white">Products</h3>
  {{ form_products|crispy }}-->

<div class="w-full max-w-2xl m-auto">
    {{client_form|crispy}}
</div>

<div class="w-full max-w-2xl m-auto">

  <h3>Products</h3>
    {{ product_formset.management_form }}



      {% for product in product_formset %}
        {{ product.id }}
      <div class="flex w-full md:w-2/2 mb-6 md:mb-0 gap-4">
        <div class="md:w-1/2">
        {{ product.name|as_crispy_field }}
        </div>
        <div class="md:w-1/2">
            {{ product.quantity|as_crispy_field }}
            </div>
        <div class="md:w-1/2">
          {{ product.price|as_crispy_field }}
        </div>

      </div>

        {% endfor %}



  <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"  value="Submit">Submit</button>

</div>
</form>
{% endblock %}
