{% extends 'invoices/base.html' %}
{% load static %}
{% block main %}

<div class="container">
<form action="" method="POST">
{% csrf_token %}
<table class="table">
<thead>
    <tr>
        <th scope="col" class="p-4 align-middle text-center">
            <button type="submit" class="btn btn-warning"  value="Submit">Send</button>
        </th>
        <th scope="col" class="p-4 align-middle">
            Number
        </th>
        <th scope="col" class="p-4 align-middle">
            Date
        </th>
        <th scope="col" class="p-4 align-middle">
            Mailed
        </th>
        <th scope="col" class="p-4 align-middle">
            Client
        </th>
        <th scope="col" class="p-4 align-middle text-center">
            File
        </th>
    </tr>
</thead>
<tbody>
    {% if invoices_list %}
    {% for invoice in invoices_list %}
    <tr class="bg-white">
        <td class="pl-2 p-4 align-middle text-center">
            <input type="checkbox" name="selected_options" value="{{invoice.id}}">
        </td>
        <td class="p-4 align-middle">
                <a href="{% url 'make_invoice' invoice.id %}">{{invoice.sequence_number}}</a>
        </td>
        <td class="p-4 align-middle">
                {{invoice.issued_date|date:"j/m/Y"}}
        </td>
        <td class="p-4 align-middle">
            {% if invoice.mail_info.status == 'Delivered' %}
                Sent
            {% else %}
                    Pending
            {% endif %}
        </td>
        <td class="p-4 align-middle">
            {{invoice.customer}}          
        </td>
        <td class="p-4 align-middle text-center">
            <a href="{% url 'invoice_detail' id=invoice.id %}"><img width="24" height="24" src="{% static 'invoices/images/pdf-icon.png' %}" alt="pdf-icon" /></a>
        </td>
    </tr>
    {% endfor %}
    {%else%}
    <tr><td colspan="6">No invoices available yet...</td></tr>
    {%endif%}
</tbody>
</table>
</form>
</div>
{% endblock %}
    


