<!--invoice_pdf.html-->
{% load static %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{% static 'invoices/css/render_invoice_pdf_styles.css' %}">
<header>

  <div class="invoice-info header-item">
    <h2 class="title left-margin">FACTURA</h2>
    <div class="invoice-info-detail small-margins left-margin">
      <h3>Número:</h3>
      <p>{{invoice.sequence_number}}</p>
      <div class="break"></div> <!-- break -->
      <h3>Fecha:</h3>
      <p>{{invoice.issued_date|date:"d/m/Y"}}</p>
    </div>
  </div>

  <div class="logo header-item">
    <!-- <img
  TODO PUT IMAGE OF Company -->
  </div>
  <div class="company-data header-item">
    <p>{{invoice.issuer.company.name|upper}}</p>
    <p>{{invoice.issuer.company.address|upper}}</p>
    <p>{{invoice.issuer.company.address.street}} {{invoice.issuer.company.address.city|upper}} - {{invoice.issuer.company.address.state|upper}}</p>
    <p>CIF &emsp; {{invoice.issuer.company.customer_information_file_number}}</p>
  </div>
 
</header>
<main>
  <div class="content-box customer-data">
    <div class="invoice-info-detail item small-margins left-margin">
      <h3>Cliente:</h3>
      <p>{{invoice.customer.company.name|upper}}</p>
    </div>
    <div class="invoice-info-detail item small-margins left-margin">
      <h3>Domicilio:</h3>
      <p>{{invoice.customer.company.address|upper}}, {{invoice.customer.company.address.postal_code}}, {{invoice.customer.company.address.city|upper}}</p>
    </div>
    <div class="invoice-info-detail item small-margins left-margin">
      <h3>C.I.F:</h3>
      <p>{{invoice.customer.company.customer_information_file_number}}</p>
    </div>
  </div>

  <div class="container-table-products">
    <table id="products" align="center">
      <thead>
          <tr class="no-border"></tr>
          <tr>
              <th>Concepto</th>
              <th>Concepto</th>
              <th>Concepto</th>
              <th>Concepto</th>
              <th>Concepto</th>
          </tr>
        </thead>
        <tbody>
          {% for order in order_lines %}
          <tr>
            <td>{{order.product.name|upper}}</td>
            <td></td>
            <td>{{order.quantity}}</td>
            <td>{{order.unit_price}} €</td>
            <td class="last-column-bold">{{order.line_total}} €</td>
          </tr>
          {% endfor %}
          {% for i in empty_rows %}
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="last-column-bold">- €</td>
          </tr>
          {% endfor %}
          <tr class="no-border"></tr>
          <tr>
            <td class="no-border"></td>
            <td class="no-border"></td>
            <td class="left-bold-border top-bold-border" colspan="2">Total</td>
            <td class="last-column top-bold-border">{{invoice.sub_total}} €</td>
          </tr>
          <tr>
            <td class="no-border"></td>
            <td class="no-border"></td>
            <td class="left-bold-border" colspan="2">Descuento {{invoice.discount_value}}%</td>
            <td class="last-column">{{invoice.discount_amount}} €</td>
          </tr>
          <tr>
            <td class="no-border"></td>
            <td class="no-border"></td>
            <td class="left-bold-border" colspan="2">Base imponible</td>
            <td class="last-column">{{invoice.tax_base}} €</td>
          </tr>
          <tr>
            <td class="no-border"></td>
            <td class="no-border"></td>
            <td class="left-bold-border" colspan="2">I.V.A {{invoice.tax_value}}%</td>
            <td class="last-column">{{invoice.tax_amount}} €</td>
          </tr>
          <tr>
            <td class="no-border"></td>
            <td class="no-border"></td>
            <td class="left-bold-border" colspan="2">Total factura</td>
            <td class="last-column-bold">{{invoice.total_due}} €</td>
          </tr>
        </tbody>
    </table>
  </div>
  <div class="content-box payment-data">
  <div class="payment-info-detail item small-margins">
  <h3>Forma de pago:</h3>
  <p>TRANSFERENCIA BANCARIA<br>&emsp;&emsp; IBAN: {{invoice.issuer.company.bank_account_number}}</p>
  </div>
  </div>
  </main>
  <footer>
  <p>RM BARCELONA</p>
  <p>Folio 113</p>
  <p>Hoja 469357</p>
  <p>Inscripción 1</p>
  </footer>

{% endblock %}
