{% extends 'invoices/base.html' %}
{% load static %}
{% block main %}

<div class="row">
<div class="col-12">
<table class="table">
<thead>
<form action="/send_invoices/" method="POST">
{% csrf_token %}
    <tr>
        <th class="pl-2 p-4 align-middle">&nbsp</th>
        <th scope="col" class="p-4 align-middle">   
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
            </svg>
        </th>
        <th scope="col" class="p-4 align-middle">
            Number
        </th>
        <th scope="col" class="p-4 align-middle">
            Date
        </th>
        <th scope="col" class="p-4 align-middle">
            Mail
        </th>
        <th scope="col" class="p-4 align-middle">
            Client
        </th>
        <th scope="col" class="p-4 align-middle">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
            </svg>
        </th>
        <th scope="col" class="p-4 align-middle">
            <button type="submit" class="btn btn-primary" value="Submit">Send</button>
        </th>
    </tr>
</thead>
<tbody>
    {% if invoices_list %}
    {% for invoice in invoices_list %}

    <tr class="bg-white">
        <td class="pl-2 p-4 align-middle">&nbsp</td>
        <td class="pl-2 p-4 align-middle">
            <input type="checkbox" name="selected_options" value="{{invoice.id}}">
        </td>
        <td class="p-4 align-middle">
            <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'make_invoice' invoice.id %}">{{invoice.sequence_number}}</a>
        </td>
        <td class="p-4 align-middle">
            {{invoice.issued_date|date:"j/m/Y"}}
        </td>
        <td class="p-4 align-middle">
            {% if invoice.mail_info.status == 'Delivered' %}
            <span class="badge rounded-pill bg-success">Sent</span>
            {% elif invoice.mail_info.status == 'Pending' %}
            <span class="badge rounded-pill bg-warning">Pending</span>
            {% elif invoice.mail_info.status == 'Failed' %}
            <span class="badge rounded-pill bg-danger">Failed</span>
            {% endif %}
        </td>
        <td class="p-4 align-middle">
            {{invoice.customer}}  

        </td>
        <td class="p-4 align-middle ">
            {% if invoice.pdf_document %}
                <a href="{{invoice.pdf_document.url}}" target="_blank"><img width="24" height="24" src="{% static 'invoices/images/pdf-icon.png' %}" alt="pdf-icon" /></a>
            {% endif %}
        </td>
        <td class="p-4 align-middle ">
            <a class="link-danger" href="{% url 'delete_invoice' invoice.id %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                </svg>
            </a>
        </td>


    </tr>
    {% endfor %}
    {%else%}
    <tr><td colspan="6">No invoices available yet...</td></tr>
    {%endif%}
</tbody>
</form>
</table>
</div>
</div>
{% endblock %}
    


