{% extends 'invoices/base.html' %}
{% load static %}
{% block main %}

<div class="row">
<div class="col-12">
<table class="table">
<thead>
    <tr>
        <th class="pl-2 p-4 align-middle">&nbsp</th>

        <th scope="col" class="p-4 align-middle">
            Name
        </th>
        <th scope="col" class="p-4 align-middle">
            Mail
        </th>
        <th scope="col" class="p-4 align-middle">
            Address
        </th>
        <th scope="col" class="p-4 align-middle">
            CIF
        </th>
        <th scope="col" class="p-4 align-middle">
            &nbsp
        </th>
        <th class="pl-2 p-4 align-middle">&nbsp</th>
    </tr>
</thead>
<tbody>
    {% if customer_list %}
    {% for customer in customer_list %}

    <tr class="bg-white">
        <td class="pl-2 p-4 align-middle">&nbsp</td>

        <td class="p-4 align-middle">
            <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'make_customer' customer.id %}">{{customer.company.name}}</a>
        </td>
        <td class="p-4 align-middle">
            {{customer.company.contact.email}}
        </td>
        <td class="p-4 align-middle">
            {{customer.company.address|upper}}
        </td>
        <td class="p-4 align-middle">
            {{customer.company.customer_information_file_number}}          
        </td>
        <td class="p-4 align-middle ">
            {% if invoice.pdf_document %}
                <a href="{{invoice.pdf_document.url}}" target="_blank"><img width="24" height="24" src="{% static 'invoices/images/pdf-icon.png' %}" alt="pdf-icon" /></a>
            {% endif %}
        </td>
        <td class="p-4 align-middle">
            <a class="link-danger" href="{% url 'delete_customer' customer.id %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                </svg>
            </a>
        </td>
        <td class="pl-2 p-4 align-middle">&nbsp</td>
    </tr>
    {% endfor %}
    {%else%}
    <tr><td colspan="6">No invoices available yet...</td></tr>
    {%endif%}
</tbody>
</table>
</div>
</div>
{% endblock %}
    


